<div class="col-xl-3 col-lg-4 col-md-4 col-12">
<div class="single-product">
<div class="product-img">
<a href="product-details.html">
<img class="default-img" src="https://via.placeholder.com/300x150" alt="#">

</a>
<div class="button-head">
<div class="product-action">
<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span></span></a>
<a title="Wishlist" href="#"><i class=" ti-heart "></i><span></span></a>
<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span></span></a>
	</div>

	</div>
</div>
<div class="product-content">
<h3><a href="product-details.html">chemise</a></h3>
<div class="product-price">

</div>
	</div>
</div>

<div class="col-x3-12 col-lg-4 col-md-4 col-12">
<div class="single-product">
<div class="product-img">
<a href="product-details.html">
<img class="default-img" src="https://via.placeholder.com/300x150" alt="#">

</a>
<div class="button-head">
<div class="product-action">
<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span></span></a>
<a title="Wishlist" href="#"><i class=" ti-heart "></i><span></span></a>
<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span></span></a>
	</div>

	</div>
</div>
<div class="product-content">
<h3><a href="product-details.html">robe</a></h3>
<div class="product-price">

</div>
	</div>
</div>

